<h1>Hello Rails!</h1>
<p>Aqui funciona mi Rails</p>
La hora es <%= Time.now %>
<br />
La hora del controlador es: <%= @time%>
Say <a href="/say/goodbye">Adiós</a> no es lo mismo que: <br />
Decimos <%= link_to "Adiós", say_goodbye_path %>